NODE_ENV=development
PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=api_documentacao_colaboradores
POSTGRES_PORT=5432

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/api_documentacao_colaboradores?schema=public
